<p><strong>
	{{id}}.
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}Devour It!{{else}}Order Again!{{/if}}</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</strong></p>
